<!DOCTYPE html>
<html>
  <head>
    <title>Tweetscope</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation" style="padding:10px">
      <div class="navbar-left">
        <h4 class="text-muted">Tweetscope</h4>
      </div>
      <div class="navbar-right">
        <div style="float:right">
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="content">
      <%= yield %>
    </div>
    
    <div class="footer">
      Tweetscope for heroku course
    </div>
  </body>
</html>
